fastapi
uvicorn[standard]
psycopg[binary]
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
passlib[bcrypt]
email-validator
python-jose
bcrypt==3.2.2
python-jose
email-validator
python-multipart
pydantic-settings
alembic
