name: Build and Push to ACR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Azure Container Registry
        run: |
          echo "${{ secrets.AZURE_REGISTRY_PASSWORD }}" | docker login ${{ secrets.AZURE_REGISTRY_LOGIN_SERVER }} \
            -u ${{ secrets.AZURE_REGISTRY_USERNAME }} \
            --password-stdin

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.AZURE_REGISTRY_LOGIN_SERVER }}/securetaskapi:latest ./app

      - name: Push Docker image
        run: |
          docker push ${{ secrets.AZURE_REGISTRY_LOGIN_SERVER }}/securetaskapi:latest